<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="JS Blog" />
  <meta property="og:site_name" content="JS Blog" />
  <meta property="og:description" content="a js blog with node express and mongodb" />
  <meta property="og:url" content="https://js-blog.glitch.me" />
  <meta property="og:image" content="img/101b5673bf684f2b9af6b090c81b43f7.png" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="JS Blog" />
  <meta name="twitter:description" content="a js blog with node express and mongodb" />
  <meta name="twitter:image" content="img/101b5673bf684f2b9af6b090c81b43f7.png" />
  <link
    href="https://fonts.googleapis.com/css?family=Lato:300,300i,700"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/style.css" />
  <title>JS Blog | <%= title %></title>
</head>